@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

body {
  margin: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #FEFDFC;
}

ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover{
  text-decoration: line-through;
  color: black;
}

#left-nav{
  padding: 0;
  border: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 25px;
  float: left;
  background-color: white;
}

#right-nav{
  padding: 0;
  margin: 0;
  float: right;
}

#right-nav li{
  display: inline-block;
  margin: 25px;
  margin-right: 50px;
  font-family: "Montserrat";
}

header{
  background-color: white;
  height: 70px;
}

.logo{
  width: 48.25px;
  height: 66..75px;
  max-width: 100%;
  max-height: 100%;
}

.demo{
  margin: 25px;
}

.pushOver {
  width: 100%;
}

.inner {
  display: inline-block;
  vertical-align: top;
}

.gameTitle{
    padding: 0px;
    margin: 5px;
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 48px;
}

.gameText {
  font-family: "Montserrat";
  position:absolute;
  max-width: 50%;
  overflow-wrap: break-word;
  max-height: 20%;
}


.fadeIn{
  animation: fade-in 5s
}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
