<footer class="footer space-mono-regular">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.linkedin.com/in/dennis-phetsomphou/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://github.com/Rovaxes" target="_blank">
                <i class="bi bi-github"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/rovaxes/"
                target="_blank">
                <i class="bi bi-instagram"></i>
            </a></li>
        <li class="social-icon__item disabled"><a class="social-icon__link__disabled" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Not available">
                <i class="bi bi-youtube disabled"></i>
            </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#about">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#expierences">Expierences</a></li>
        <li class="menu__item"><a class="menu__link" href="#creations">Creations</a></li>
        <li class="menu__item"><a class="menu__link" href="#contact">Contact</a></li>

    </ul>

    <p> <i class="bi bi-c-circle"></i> 2021 Dennis Phetsomphou | All Rights Reserved</p>

</footer>