@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  animation-name:fade-in;
  animation-duration: 1.5s;
  font-size: 2vw;
}

.header-grid {
  padding: 3%;
  padding-bottom: 3.5%;
  -min-height: 4vh;
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  -background-color: blue;
}

.header-grid li {
  text-transform: uppercase;
  font-size: 2vw;
  justify-self: center;
  align-self: center;
}


a {
  text-decoration: none;
  color: grey;
}


.mainImg {
  width: 75%;
  height: auto;
  display:block;
  margin:auto;
}

#showCase {
}

.container{
  width: 100%;
  height: 100%;
  position: relative;
  margin:auto;
}

#profession {
  margin: 4vh;
  color: grey;
  text-transform: uppercase;
  text-align: center;
  -background: blue;
}

.vertical-line-1{
  width: 50%;
  height: 20%;
  background: blue;
  bottom: 10%;
  opacity: 0.1;
  position:absolute;
  z-index: 20;
  animation-name:left-right-blue;
  animation-duration: 1s;
}

.vertical-line-5{
  width: 12.5%;
  height: 20%;
  background: blue;
  bottom: 10%;
  opacity: 0.6;
  position:absolute;
  z-index: 20;
  animation-name:left-right-blue-2;
  animation-duration: 0.1s;
}

.vertical-line-3{
  width: 10%;
  height: 4%;
  background: black;
  left: 80%;
  bottom: 1%;
  position:absolute;
  z-index: 20;
  animation-name:left-right-black-2;
  animation-duration: 1s;
}

.vertical-line-2{
  width: 2%;
  height: 100%;
  background: blue;
  left: 98%;
  bottom: 70%;
  opacity: 0.6;
  position:absolute;
  z-index: 20;
  animation-name:top-down-blue;
  animation-duration: 1s;
}

.vertical-line-4{
  width: 1%;
  height: 100%;
  background: black;
  left: 96.5%;
  bottom: 100%;
  animation-name:top-down-black;
  animation-duration: 1s;
  position:absolute;
  z-index: 20;
}

#projects {
  width:100%;
}

.projectImage{
  -background:blue;
  width: 80%;
  -background-color: green;
  align-self: center;
  justify-self:center;
  padding: 2vh;
  margin: 2vh;
  border: black solid 0.5vh;
}

.container-2 {
  margin: 4vh auto 4vh auto;
  width: 80%;
  display: grid;
  grid-gap: 2vh;
  grid-auto-rows: 1fr auto;
  -background-color: red;
}

.container-3 {
  margin: 4vh auto 4vh auto;
  width: 80%;
  text-align: center;
}



@media screen and (max-width: 3820px){
  .p-grid {
      display: grid;
      grid-auto-columns: 1fr 1fr auto;
      grid-auto-flow: column;
      font-size: 100px;
      -background-color: blue;
  }
.text-scale *{
    font-size: 2.5vh;
  }
#proj-title{font-size: 2vw;}

}

@media screen and (max-width: 719px){
  .p-grid {
      display: grid;
      grid-auto-rows: 1fr auto;
      grid-auto-flow: row;
      font-size: 12px;
      -background-color: green;
  }

  .text-scale *{
      font-size: 2vw;
    }

}

.divide-line {
  margin: auto;
  margin-top:1vh;
  margin-bottom: 1vh;
  width: 90%;
  height: 1vh;
  background: black;
}

.divide-line-2 {
  margin: auto;
  margin-top:1vh;
  margin-bottom: 1vh;
  width: 80%;
  height: 1vh;
  background: blue;
  opacity: 0.6;
}

#proj-title{
  text-align: center;
  margin: 2vh;
  text-transform: uppercase;
  color: grey;
}

.p-description{
  align-self: center;
  justify-self:center;
  padding: 1em;
  text-align: center;
}

.pd-container {
  -background:blue;
  width:100%;
  justify-content: center;
  align-self: center;
}

.p-title {
  text-align: center;
  color: grey;
}





@keyframes top-down-blue {
  0%   {bottom:120%}
  100% {bottom:70%}
}

@keyframes left-right-blue {
  0%   {width:0%}
  100% {width:50%}
}

@keyframes left-right-blue-2 {
  0%   {width:0%}
  100% {width:12.5%}
}

@keyframes top-down-black {
  0%   {bottom:150%}
  100% {bottom:100%}
}

@keyframes left-right-black-2 {
  0%   {width:0%}
  100% {width:10%}
}

@keyframes fade-in {
  0%   {opacity: 0}
  100% {opacity: 100}
}
