.opening {
  z-index: -1;
  display:block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.w3-animate-fading{
  animation:fading 5s
  }@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
