<div id="about" class="container">
    <div class="p-4"></div>
    <h2 class="silkscreen-regular">Bits about my life</h2>

    <div class="p-4"></div>
    <div class="row gy-4 justify-content-between space-mono-regular">
        <div class="col-sm-5">
            <h5>
                Developer Extraordinaire 🖥️
            </h5>
            <p>
                I've been coding for about 8 years now and I still haven't gotten sick of it! Building, automating, and
                learning how to improve the daily lives of others
                is just way too cool and something I won't be giving up anytime soon.
            </p>
        </div>
        <div class="col-sm-5">
            <h5>
                Game Development Guru 🎮
            </h5>
            <p>
                My pixelated playground; is where I forge captivating narratives and breathe life into them. I love
                playing video games but, learning how they work and how it was put together is what really excites me!
            </p>
        </div>
        <div class="col-sm-5">
            <h5>
                Fitness Enthusiast 💪
            </h5>
            <p>
                Beyond the screens and scripts, I like to lift, do spartan races, and push my physical limits! That
                235lb bench press is on my hit list and will be conquered.
            </p>
        </div>
        <div class="col-sm-5">
            <h5>
                Self Proclaimed Musician 🎸
            </h5>
            <p>
                Listening to music is one thing, but arranging chords and melodies is where it's at for me, especially
                on guitar. If you are ever looking for a lead or rhythm-jamming partner I'm your man! Just don't get me
                singing any John Mayer songs and you will be saved from my amazing vocals.
            </p>
        </div>
    </div>

    <div class="m-4"></div>

</div>