.primary {
    color: black;
    padding: 20px;
}

.text-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 5px solid white;
}

.image-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 5px solid white
}

:host {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

hr {
    border-color: #FFFFFF;
    max-width: 100px;
    margin: 0px;
}

.image-align {
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 20px;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover
}

.image-align-bottom {
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 20px;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover
}