
<div class="container h-100">

    
    <div class='row primary space-mono-regular align-items-end h-100 text-container' [ngClass]="{'image-align-bottom': bottomAlignImage , 'image-align' : !bottomAlignImage }"  [ngStyle]="{'background-image': image ? 'url(' + image + ')' : '' }" [ngSwitch]="type">


        <div *ngSwitchCase="'text'">
            
            <h4>{{title}}</h4>
            <div class="m-3"></div>
            <hr/>
            <div class="m-3"></div>
            <p>{{text}}</p>
        </div>

        <div *ngSwitchCase="'image'" class="h-100">  </div>
    </div>





    <!-- <img src="https://www.shutterstock.com/shutterstock/photos/2284126663/display_1500/stock-photo-data-science-and-big-data-technology-scientist-computing-analysing-and-visualizing-complex-data-2284126663.jpg" class="img-fluid" alt="Responsive image"> -->



</div>