.header {
    border: 1px solid rgba(38, 43, 44, 0.5);
    padding: 4px 16px;
    border-radius: 12px;
    font-size: 1.2vmin;
    text-align: center;
}

.image-card-1 {
    min-height: 500px;
}

.image-card-2 {
    min-height: 200px;
}

.background {
    background-size: cover;
}

.blur {
    transition: 1s ease;
}

.blur:hover {
    transition: 1s ease;
    filter: saturate(4);
}